html,
body {
  height: 100vh;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

:root {
  --backgroundColor: #6c757d;
  --fontColor: #f8f9fa;
  --headerColor: #343a40;
  --cardBackground: #ced4da;
  --cardFontColor: #212529;
  --buttonColor: #f8f9fa;
  --buttonFontColor: #212529;
}

body {
  background-color: var(--backgroundColor);
  color: var(--fontColor);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 2fr 9fr 1fr;
}

.header {
  background-color: var(--headerColor);
  grid-column: 1 / -1;
  font-size: 2rem;
  padding: 0 32px;
}

.main-container {
  padding: 24px;
  display: grid;
  grid-template-rows: 1fr 6fr 6fr;
  grid-template-columns: 1fr;
  grid-column: 1 / -1;
}

.add-book {
  grid-row: 1;
  grid-column: 1;
  text-align: center;
}

button.add-book {
  background-color: var(--backgroundColor);
  color: var(--fontColor);
  border: none;
  font-size: 1.5rem;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
  transition: 0.2s;
}

button.add-book:hover {
  background-color: var(--headerColor);
}

.footer {
  grid-row: -2 / -1;
  grid-column: 1 / -1;
  display: grid;
  place-items: center;
}

/* cards */
.book-cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 32px;
  place-items: center;
}

.card {
  display: flex;
  gap: 12px;
  flex-direction: column;
  background-color: var(--cardBackground);
  border-radius: 5px;
  padding: 10px;
  width: 100%;
  max-width: 400px;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 4px;
  color: var(--cardFontColor);
  font-size: 1.25rem;
  border: none;
}

.card-row {
  height: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

button.is-read.read {
  background-color: #9fff9c;
}

button.is-read.not-read {
  background-color: #ff9c9c;
}

button.remove-button {
  background-color: var(--buttonColor);
}

button.card-row {
  font-size: 1.25rem;
  width: 100%;
  border: none;
  display: grid;
  place-items: center;
  border-radius: 5px;
  cursor: pointer;
  color: var(--buttonFontColor);
}

/* modal-form */
.modal::backdrop {
  background-color: rgba(0, 0, 0, 0.5);
}

.modal {
  width: 50vw;
  max-width: 500px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  background-color: var(--cardBackground);
  color: var(--cardFontColor);
  border: none;
}

.modal-form {
  padding: 32px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}

.form-row {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

label {
  font-weight: bold;
  font-size: 1rem;
}

.form-row input {
  border: 1px solid #eee;
  background-color: #eee;
  border-radius: 5px;
  height: 2rem;
  padding: 5px 10px;
  font-size: 1rem;
}

.submit-section button {
  width: 100%;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 1.25rem;
  cursor: pointer;
  transition: 0.1s ease-in-out;
  color: #fff;
  background-color: #000;
}

.submit-section button:hover {
  background-color: #333;
}
.submit-section button:active {
  background-color: #999;
}

/* phone query */
@media screen and (max-width: 480px) {
  .book-cards {
    display: grid;
    grid-template-columns: 1fr;
    width: 75vw;
  }

  .header {
    display: flex;
    justify-content: center;
  }

  .main-container {
    height: auto;
    justify-items: center;
  }

  .modal {
    width: 75vw;
    position: fixed;
    overflow: hidden;
  }
}
